@charset "utf-8";
/* CSS Document */

@font-face{
	font-family:hokkori;
	src:url(../HOKKORI.otf);
}

html, body{
	font-family: 'Kanit', sans-serif;
	height:100%;
	font-size:16px;
	
	margin:0px;
}

body{
	font-family: 'Kanit', sans-serif;
	height:100%;
	font-size:16px;
}

/*Slide*/

.slide {
	width: 100%;
	position: relative;
	 
 
	
}

.slide img {
	max-width: 100%;
	height: auto;
	display: block;
}

.cycle-prev, .cycle-next {
	position: absolute;
	top: 50%;
	background-color: rgba(0, 0, 0, .35);
	color: #FFF;
	padding: 1px 10px;
	display: block;
	cursor: pointer;
	font-size: 130%;
	z-index: 1000;
	opacity: 0;
	transition: opacity .5s;
}

.cycle-next {
	right: 0;
}

.cycle-slideshow:hover .cycle-prev,
.cycle-slideshow:hover .cycle-next {
	opacity: 1;
}

.cycle-pager {
	position: absolute;
	bottom: 20px;
	z-index: 1003;
	width: 100%;
	text-align: center;
}

.cycle-pager span {

	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #FFF;
	margin: 0 4px;
	cursor: pointer;
}

.cycle-pager .cycle-pager-active {
	background-color: #000;
}

/*Slide*/


/*background*/
#bg{
	background-image:url(../img/bg-01.jpg);
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
	background-size:cover;
}

#bg3{
	background-image:url(../img/bg-03.jpg);
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
	background-size:cover;
}

.bg01 { 
    background-image:url(img/bg-01.jpg);
    height:100%;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}

.bg02 { 
    background-image:url(../img/bg-02.jpg);
    height: 100%; 
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}

@media only screen and (max-width:1000px){
	
.bg02{
	height:60%;
}
	
}

@media only screen and(max-width:767px){
	.bg02{
		height:80%;
	}
}

.bg03 { 
    background-image:url(../img/bg-03.jpg);
    height: 100%; 
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}

.bg04 { 
    background-image:url(../img/bg-04.jpg);
    height: 100%; 
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}

@media only screen and (max-width:1000px){
	
.bg04{
	height:50%;
}
	
}

@media only screen and (max-width:767px){
	
.bg04{
	height:70%;
}
	
}

/* SECTION COVER */
#cover{
	height:100%;
	background-size:cover;
}

/* SECTION LANG */

#lang{
	background-color:#e52815;
	margin:0;
	padding:0;
	height:20px;
	position:relative;
	width:100%;
	font-size:13px;
	z-index:3;
}

#lang p{
	margin:0;
	padding:0;
	padding-left:15px;
}

#lang a{
	color:black;
	transition:0.5s;
}

#lang a:hover{
	color:#feddff;
	transition:0.5s;
}

/* SECTION MENU */
#menu{
	font-family:hokkori;
	position:absolute;
	z-index:1500;
	width:100%;
}
#marginn{
	margin-left:8%;	
}
.topnav2{
	margin-right:8%;
	display: inline-block;
}
ul.topnav li.topnav2 a{
	padding: 14px 10px;
}
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	background-image:url(../img/menu-bg.png);
}

/* Float the list items side by side */
ul.topnav li {float: left;}

/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: #fff;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
    transition: 0.5s;
    font-size: 17px;
}
/* Change background color of links on hover */
ul.topnav li a:hover {background-color: #486c86;}
/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {display: none;}

@media screen and (max-width:400px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
  .topnav2{
	display: inline-block;
}
}

/* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */
@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */
@media screen and (max-width:680px) {
#margin{
	margin-left:0;	
}
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav li.topnav2{
	display: inline-block;
	position: relative;
  }
  ul.topnav li.topnav2 a{
	float:left;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}

/* SECTION VISIT_SITE */
.img-responsive{
	max-width:100%;
	height:auto;
	display:block;
}
.blue-text{
	color:#486c86;
}

.white-text{
	color:white;
}

.blue-text-small{
	color:#486c86;
	font-size:80%;
}

@media screen and (max-width:980px){
	
	.show-medium{
		display:block;
	}
	
}

/* PROMOTION */

.box-cc{
	border:none;
	border-bottom:1px solid #486c86;
	margin:10px;
	width:20%;
	background-color:transparent;
	cursor:pointer;
	overflow:hidden;
	outline:none;
	color:#feddff;
	transition:0.5s;
	font-family: 'Kanit', sans-serif;
}

.box-ccc{
	border:none;
	margin-left:2%;
	width:300px;
	background-color:transparent;
	color:#486c86;
	transition:0.5s;
	font-family: 'Kanit', sans-serif;
}

.box-cc a{
	text-decoration:none;
	color:#feddff;
}

.box-cc:hover{
    border-bottom:1px solid #486c86;
	background-color:#486c86;
	color:#F2EBE2;
	transition:0.5s;
}

/*Pagination*/

.ul.pagination {
    display: inline-block;
    padding: 0;
	margin:0;
    margin-top: 30px;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: #feddff;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

ul.pagination li a.active {
    background-color: #486c86;
    color: white;
}

ul.pagination li a:hover:not(.active) {background-color: #e52815;}

/* CONTACT */

.title-main img{ max-width:250px; height:auto; width:100%; margin-top:30px;}

/* MAPS */

@media only screen and (max-width:1000px){
	
	.hide-medium{
		display:none;
	}
	
}
.map{
	margin:auto;
	background-image:url(../img/map.png);
	max-width:980px;
	height:178px;
	margin-top:30px;
	margin-bottom:30px;
}

.box-a{
	border-radius:5px;
	border-color:#AB191B;
	margin-top:5px;
	box-sizing:border-box;
	width:100%;
	height:30px;
	border-width:1px;
	position:relative;
	overflow:hidden;
	font-family: 'Kanit', sans-serif;
}

.box-b{
	border-radius:5px;
	border-color:#AB191B;
	margin-top:5px;
	box-sizing:border-box;
	/*width:550px;*/
	width:100%;
	height:100px;
	border-width:1px;
	position:relative;
	overflow:hidden;
	font-family: 'Kanit', sans-serif;
}

.box-c{
	margin:5px;
	float:right;
	border:none;
	border-bottom:1px solid rgba(171,25,27,0.8);
	background-color:transparent;
	background-repeat:no-repeat;
	cursor:pointer;
	overflow:hidden;
	outline:none;
	color:#AB191B;
	transition:0.5s;
	font-family: 'Kanit', sans-serif;
}

.box-c:hover{
    border-bottom:1px solid rgba(171,25,27,1);
	background-color:rgba(171,25,27,0.8);
	color:#F2EBE2;
	transition:0.5s;
}

/*FOOTER*/

#footer{
	background-color:#e52815;
}

.footfoot{
	margin-top:30px;
}

.foot1{
	position:relative;
	overflow:hidden;
	color:#F2EBE2;
}

.foot1-content{
	margin-top:30px;
	font-size:80%;
}

.foot3-content{
	font-size:60%;
	color:#F2EBE2;
	padding-top:15px;
}

.foot1-hr{
	display:block;
	height:1px;
	border:0;
	border-top:1px solid #F2EBE2;
	padding:0;
	box-sizing:border-box;
}

.foot1-ul{
	font-size:80%;
	padding:0px;
	list-style-type:none;
}

.footfoot a{
	color:#F2EBE2;
}

.foot2-hr{
	display:block;
	height:1px;
	border:0;
	border-top:1px solid #F2EBE2;
	padding:0;
	margin:0;
	margin-top:15px;
}

@media only screen and (max-width:767px){
	.hide-small{
		display:none;
	}
}

.foot3-oneline{
	float:right;
	display:inline;
	margin-left:15px;
}

/* FROM RESERVE */

/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */    
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 2001; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(171,25,26); /* Red fallback color */
    background-color: rgba(171,25,26, 0.9); /* Red w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/*reserve form*/
#menu-reserve{
	float:left;
	margin-left:15px;
	font-size:14px;
}
#all{
	transition: 0.5s;
}
.sidenav legend{
	margin-top:20px;
	color:#1e1d23;
	font-size:16px;
}

.sidenav {
	color:#fff;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 5000;
    top: 0;
    left: 0;
    background-color: #e52815;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 30px;
	padding-bottom:0;
}

.sidenav a {
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


/*BTN_reserve*/
.btn-reserve{
	position:fixed;
	bottom:50px;
	right:0px;
	z-index:2000;
	height:auto;
	
	alpha(opacity=100);
	opacity:1.0;
	transition: 0.5s;
}
.btn-reserve:hover{
	alpha(opacity=70);
	opacity:0.7;
	transition: 0.5s;
}

 .btn-reserve img{ max-width:200px; height:auto;}
 
 /* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 10px;
    right: 45px;
    font-size: 60px;
	width:100px;
	height:100px;
}



 
@media screen and (max-width:767px){
	.only-small{
		display:none;
	}



/*BTN_reserve*/
.btn-reserve{
	position:fixed;
	bottom:50px;
	right:0px;
	z-index:2000;
	height:auto;
	
	alpha(opacity=100);
	opacity:1.0;
	transition: 0.5s;
}
.btn-reserve:hover{
	alpha(opacity=70);
	opacity:0.7;
	transition: 0.5s;
}

.btn-reserve img{ max-width:150px; height:auto;}
 

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 10%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.title-main img{ height:auto; width:70%; margin-top:30px; }


}
/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }

	/*BTN_reserve*/
.btn-reserve{
	position:fixed;
	bottom:50px;
	right:0px;
	z-index:2000;
	height:auto;
	
	alpha(opacity=100);
	opacity:1.0;
	transition: 0.5s;
}
.btn-reserve:hover{
	alpha(opacity=70);
	opacity:0.7;
	transition: 0.5s;
}

.btn-reserve img{ max-width:100px; height:auto; }

.title-main img{ height:auto; width:30%; }
	   
}


<!--tab-->
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#video, #clipping {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #fff;
}

#media-tab input {
  display: none;
}

#media-tab label {
  display: inline-block;
  width:45%;
  margin: 0 0 -1px;
  padding: 15px 25px;
  text-align: center;
  color: #fff;
  border: 1px solid transparent;
}

#media-tab label:hover {
  color: #486c86;
  cursor: pointer;
}

#media-tab input:checked + label {
  color: #486c86;
  background-color: #fff;
  border: 1px solid #ddd;
  border-top: 2px solid #486c86;
  border-bottom: 1px solid #feddff;
}

#tab1:checked ~ #video,
#tab2:checked ~ #clipping {
  display: block;
}

@media screen and (max-width: 650px) {
#media-tab label {
	left:0;
    font-size: 10px;
}
#media-tab label:before {
	left:0;
    margin: 0;
    font-size: 18px;
}
}

@media screen and (max-width: 400px) {
#media-tab label {
	left:0;
    padding: 15px;
	font-size: 8px;
}
}


@media screen and (max-width:680px) {
	iframe{
		width:100%;
		height:100%;
	}
}
@media screen and (max-width:680px) {
	iframe{
		width:100%;
		height:100%;
	}
}